
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}

html{
	scroll-behavior: smooth;
}

body{
	min-height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
	letter-spacing: 0.1rem;
	display: flex;
	flex-direction: column;
}

.footer { 
	overflow: hidden;
	width: 100%;
	height: auto;
	margin-top: auto;
	font-size: 0.8rem;
	font-weight: 900;
	display: block;
	text-align: center;
	background-color: lightgray;
	color: black;
}


@keyframes button__underline {
	0%{border-bottom: 0}
	100%{border-bottom: 3px solid black}
}

@media only screen and (min-width: 300px) {
	#top{
		position: absolute;
		top: 0;
	}
	.navbar {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: fixed;
		left: 0;
		top: 0;
		height: auto;
		width: 100%;
		z-index: 1001;
		background: rgba(240, 240, 240, 0.9);
		border-bottom: 1px solid black;
	}
	.navbar h1{
		font-size: 2.3rem;
		font-family: "Brush Script MT", Brush Script Std, cursive;
		margin: 0.2rem 0;
		white-space: nowrap;
	}	
	.navbar__buttons__container {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: center;
		width: 100%;
	}
	.navbar button {
		width: 6rem;
		height: auto;
		padding: 0.5rem 0;
		margin: 0.5rem 0.5rem;
		border: 0;
		background-color: transparent;
		font-size: 1rem;
	}
	.navbar button a.active{
		border-bottom: 3px solid black;
	}
	.navbar a {
		text-decoration: none;
		color: initial;
	}
	.navbar button a:hover{
		animation: button__underline 0.5s linear;
		border-bottom: 3px solid black;
	}
	.display__gallery{
		margin-top: 7rem;
		width: 100%;
		height: auto;
		min-height: 400px;
	}
	.display__gallery__img--big{
		background-color: black;
		position: relative;
		width: 100%;
		height: 60%;
	}
	.display__gallery__imgs{
		margin-top: 0.3rem;
		width: 100%;
		height: 40%;
		display: flex;
	}
	.display__gallery img {
		display: block;
		opacity: 0.4;
		width: 100%;
		height: 100%;
	}
	#display__first__desc{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#display__header{
		padding: 0.5rem 1rem;
		font-size: 1rem;
		text-align: center;
		color: white;
		margin: 0;
	}
	.display__buttons {
		position: absolute;
		top: 50%;
		right: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		transform: translateY(-50%);
		background-color: transparent;
		border: none;
		cursor: pointer;
	}
	.display__gallery__link{
		background-color: black;
		position: relative;
		width: 49%;
		height: 100%;
		margin-right: 1%;
	}
	.display__recipes__link{
		background-color: black;
		position: relative;
		margin-left: 1%;
		width: 49%;
		height: 100%;
	}
	.display__links {
		margin: 0 ;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		color: white;
		font-size: 1rem;
		text-decoration: none;
	}
	.fa-arrow-right{
		color: white;
		font-size: 1.5rem;
		margin-right: 1.5rem;
	}
	.display__button {
		background-color: rgb(220, 145, 10);
		border: 2px solid white;
		font-size: 1rem;
		cursor: pointer;
		margin-top: 0.5rem;
		height: 2.5rem;
	}
	.display__button a{
		text-decoration: none;
		color: white;
		white-space: nowrap;
		padding: 0.7rem 1.6rem;
	}
	.news__container{
		margin-top: 2rem;
		margin-left: auto;
		margin-right: auto;
		width: 95%;
		border: 1px solid darkgray;
		box-shadow: 2px 2px 5px 2px;
		background: gainsboro;
	}
	.news__text{
		padding: 0.5rem 1rem;
		font-size: 1rem;
		text-align: center;
	}
	.main__content{
		margin-top: 2rem;
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.recipe__container{
		width: 95%;
		height: 25rem;
		border: 1px solid darkgray;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: whitesmoke;
		box-shadow: 2px 2px 25px 2px;
		margin-bottom: 2rem;
	}
	.recipe__image{
		width: 100%;
		height: 65%;
	}
	.recipe__image img{
		border: 0 !important;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.recipe__description{
		width: 100%;
		height: 35%;
		text-align: center;
	}
	.recipe__title{
		margin: 0.5rem 0;
		display: block;
		width: 100%;
		text-shadow: 1px 1px 1px;
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-weight: 100;
	}
	.recipe__description h5{
		margin: 0;
		padding: 0 1rem;
	}
	.subscribe {
		margin: 1rem auto;
		width: 95%;
		height: 12rem;
		background: rgb(150, 240, 150);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.subscribe h3{
		margin: 1rem 0 0 0;
		font-size: 1.3rem;
		text-align: center;
		padding: 0 0.5rem;
	}
	.subscribe input {
		width: auto;
		font-size: 1rem;
		height: 2rem;
		margin: 1rem 0 0 0;
	}
	.subscribe button {
		font-size: 1.2rem;
		padding: 0.2rem 0;
		margin: 1rem 0 0 0;
		width: 8rem;
		height: auto;
		color: black;
		background: rgba(240, 240, 240, 0.8);
		border: 0;
	}
	.scroll__up{
		width: 75px;
		height:50px;
		position: fixed;
		bottom: 25px;
		right: 0px;
		display: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-decoration: none;
	}
	.scroll__up p{
		margin: 0;
		color: initial;
		font-size: 0.5rem;
	}
	.fa-arrow-up{
		margin: 0 !important;
		display: block;
		color: black;
		width: 100%;
		font-size: 1rem;
	}

}

@media only screen and (min-width: 550px){
	#display__header{
		font-size: 1.5rem;
	}
	
	.display__links{
		font-size: 1.5rem;
	}
	.recipe__container{
		width: 85%;
	}
	.fa-arrow-right{
		font-size: 1.8rem;
	}
}

@media only screen and (min-width: 750px) {
	.navbar{
		flex-direction: row;
	}
	.navbar h1{
		margin-left: 0.5rem
	}
	.news__container{
		width: 80%;
	}
	.recipe__container{
		height: 30rem;
		margin: 2rem 0;
	}
	.recipe__image{
		height: 65%;
	}
	.recipe__description{
		height: 35%;
	}
	.recipe__title{
		font-size: 1.3rem;
	}
	.recipe__description h5{
		font-size: 1rem;
		padding: 0 1rem;
	}
	.fa-arrow-right{
		font-size: 2.1rem;
	}
	.subscribe{
		width: 70%;
	}
	.fa-arrow-up{
		font-size: 1.5rem;
	}
	.scroll__up p{
		font-size: 0.8rem;
	}
}
@media only screen and (min-width: 900px){
	.navbar h1{
		margin-left: 2rem !important;
	}
	.recipe__container{
		width: 60%;
		height: 35rem;
		margin: 2rem 0;
	}
	.recipe__image{
		height: 75%;
	}
	.recipe__description{
		height: 25%;
		font-size: 1.5rem;
	}
	.subscribe{
		width: 60%;
	}
}
@media only screen and (min-width: 1200px){
	.navbar h1{
		margin-left: 5rem !important;
	}
	.main__content{
		display: grid;
		grid-template-columns: repeat(2, 500px);
		grid-template-rows: repeat(2, 500px);
		gap: 50px;
		justify-content: center;
		justify-items: center;
		margin-bottom: 2rem;
	}
	.recipe__container{
		width: 500px;
		height: 500px;
		margin: 2rem 0;
	}
	.recipe__image{
		height: 60%;
	}
	.recipe__description{
		font-size: 1.5rem;
		height: 40%;
	}
	.subscribe{
		width: 40%;
	}
	.display__button:hover{
		border-color: rgb(220, 145, 10);		
		background-color: transparent;
	}
	.display__button a:hover{
		color: rgb(220, 145, 10) !important;
	}
	.fa-arrow-right{
		font-size: 2.5rem;
	}
	.display__buttons:hover .display__links {
		border-bottom: 3px solid white !important;
		animation: button__underline 0.1s linear;
	}
	.scroll__up{
		width: 150px;
		height: 150px;
	}
	.scroll__up p{
		font-size: 1rem;
	}
	.fa-arrow-up{
		font-size: 1.5rem;
	}
}

@media only screen and (min-width: 1500px){
	.navbar h1 {
		margin-left: 10rem !important;
	}
	.display__gallery{
		display: flex;
		flex-direction: row;
		justify-content: center;
		width: 90%;
		height: auto;
		margin: 7rem auto 0 auto ;
	}
	.display__gallery__imgs{
		flex-direction: column;
		width: 33%;
		height: auto;
		margin: 0;
	}
	.display__gallery__link{
		display: block;
		min-height: 50%;
		height: 50%;
		width: 100%;
		margin: 0;
		border: 3px solid white;
		border-top: none;
	}
	.display__recipes__link{
		display: block;
		min-height: 50%;
		height: 50%;
		width: 100%;
		margin: 0;
		border: 3px solid white;
		border-bottom: none;
	}
	.display__gallery__img--big{
		width: 67%;
		height: 100%;
	}
	#display__header{
		font-size: 2.2rem;
	}
	.display__button{
		padding: 0.7rem 0rem;
		font-size: 1.8rem;
		height: auto !important;
	}
	.display__button a{
		padding: 0.9rem 1.7rem;
	}
	.display__links{
		font-size: 2rem;
	}
	.fa-arrow-right{
		margin-right: 5rem;
	}
	.news__container{
		width: 60%;
	}
	.news__text{
		font-size: 1.4rem;
	}
	.main__content{
		grid-template-columns: repeat(2, 600px);
		grid-template-rows: repeat(2, 600px);
	}
	.recipe__container{
		width: 600px;
		height:600px;
	}
	.recipe__description{
		font-size: 1.4rem;
	}
	.scroll__up{
		right: 25px;
		width: 150px;
		height: 150px;
	}
	.scroll__up p{
		font-size: 1.5rem;
	}
	.fa-arrow-up{
		font-size: 2rem;
	}
}


@media only screen and (min-width: 1800px){
	.navbar__buttons__container {
		margin-left: 5rem !important;
	}
	.news__container {
		margin-top: 5rem;
	}
	.subscribe{
		width: 30%;
	}
}

@media only screen and (min-width: 2500px){
	.display__gallery{
		margin-top: 9rem;
		width: 70%;
	}
	.subscribe{
		width: 20%;
	}
}

@media only screen and (min-width: 3000px){
	.news__container{
		width: 40%;
	}
	.news__text{
		font-size: 1.7rem;
	}
	.recipe__container{
		width: 90%;
		height: 35rem;
	}
	.recipe__image{
		height: 70%;
	}
	.recipe__description{
		height: 30%;
		font-size: 1.7rem;
	}
}